---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Astro Blog";
---

<BaseLayout pageTitle={ pageTitle }>
	<h2>ブログのサブタイトル</h2>
	<Greeting 
		client:load
		messages={["こんにちは","hello","こんばんは", "朝ですよー"]}
	/>
</BaseLayout>