---
const { url, title , pubDate} = Astro.props;
---

<style>
  li {
    margin-bottom: 2rem;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    margin-bottom: 0;
  }
</style>

<li>
  <p>{pubDate}</p>
  <a href={url}>{title}</a>
</li>